spring:
  application:
    name: backend

  datasource:
    url: jdbc:postgresql://localhost:5432/animerec
    username: admin
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 5
      minimum-idle: 1

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC
    open-in-view: false

  flyway:
    enabled: true
    locations: filesystem:C:/Users/samue/OneDrive/Documentos/GitHub/anime-recommendation-chatbot/db/migrations
server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: never